// variables.scss
// ==================

@import url(http://fonts.googleapis.com/css?family=PT+Sans);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);

@include border-box-sizing; //uses border box sizing like the old IE, i.e.: padding doesn't add to the total size of the element.

$susy: (
    columns: 12,
    gutters: 1/4,
    gutter-position: inside
);

//Screen sizes
$smallest   : 400px;
$small      : 978px;
$medium     : 1100px;
$wide       : 1200px;

$backgroundHeightMedium     : 850px;
$backgroundHeightSmall      : 1000px;


//Add Colour Palette
$purple     : #4e1656;
$dark       : #000000;
$light      : #ffffff;

//Font variables
$fontFamily: 'PT Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$titleFont: 'Roboto Slab', serif;

$regular    : 400;
$bold       : 700;

$headFont   : $bold 2em/2em $titleFont;
$mainFont   : $regular 1em/1.5em $fontFamily;