// BULLETS SECTION
//======================

#bullets{
position:relative;
width:100%;
height:280px;
background:url(../images/bg_pattern.png);
    @media screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (-moz-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
        background-image: url('../images/bg_pattern_hd.png');
        background-size: 54px 53px;
    }
    @include breakpoint (max-width $small) {
        height: auto;
        padding-bottom: 30px;
    }
    @include breakpoint (max-width 368px) {
        display: none;
    }
}
#bullets_container{
    @include container;
position:relative;
clear:both;
width:960px;
margin:0 auto 0 auto;
}
#bullets_container h2{
margin:0 0 32px 0;
padding:32px 0 0 0;
text-align:center;
font-size:24px;
color:#fff;
}
#bullets_container ul{
    @include container;
  position: relative;
  width: 80%;
  height: 135px;
  float: none;
  text-align: center;
    margin: 0 auto;
    @include breakpoint (max-width $small) {
        padding-left: 10%;
        min-width: 618px;
    }
    @include breakpoint (max-width $smallest) {
        padding-left: 0;
        min-width: 0;
    }
}
#bullets_container li{
position:relative;
float:left;
clear:none;
list-style:none;
    .image {
        display: block;
        width: 129px;
        height: 128px;
        margin: 0 auto;
        background-size: cover;
        background-repeat: no-repeat;
    }
    #bullet1 {background-image:url(../images/bulletbg01.png);@media screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (-moz-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
                background-image: url('../images/bulletbg01_hd.png');}
    }
    #bullet2 {background-image:url(../images/bulletbg02.png);@media screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (-moz-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
                background-image: url('../images/bulletbg02_hd.png');}
    }
    #bullet3 {background-image:url(../images/bulletbg03.png);@media screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (-moz-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
                background-image: url('../images/bulletbg03_hd.png');}
    }
    #bullet4 {background-image:url(../images/bulletbg04.png);@media screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (-moz-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
                background-image: url('../images/bulletbg04_hd.png');}
    }
    #bulletint {background-image:url(../images/bulletinterrogantbg.png);@media screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (-moz-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
                background-image: url('../images/bulletinterrogantbg_hd.png');}
    }
}
#bullets_container li{
margin-right:24px;
    @include breakpoint (max-width $small) {
        @include span(3);
        margin-top: 15px;
    }
    @include breakpoint (max-width $smallest) {
        @include span(2);
        width: 50%;
        margin-right:0;
    }
}