// HEADER INTRO SECTION
// =======================

#header_container{
    @include container;
position:relative;
clear:both;
width:960px;
margin:0 auto 0 auto;
z-index:1000;
}
#header{
width: 100%;
height:660px;
@include backImage('../images/header_bg_color.png');
background-color:#b0e1db;
    @include breakpoint (max-width $medium){
        height: $backgroundHeightMedium;
    }
    @include breakpoint (max-width $small){
        height: $backgroundHeightSmall;
    }
    @include breakpoint (max-width $smaller){
        height: $backgroundHeightSmaller;
    }
}
#header_bg1{
position:absolute;
width:100%;
height:660px;
background:transparent url(../images/cloud.png) left bottom repeat-x;
    @media screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (-moz-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
        background:transparent url(../images/cloud_hd.png) left bottom repeat-x;
        background-size: 48%;
    }
z-index:1;
    @include breakpoint (max-width $medium){
        height: $backgroundHeightMedium;
    }
    @include breakpoint (max-width $small){
        height: $backgroundHeightSmall;
    }
    @include breakpoint (max-width $smaller){
        height: $backgroundHeightSmaller;
    }
}
#header_bg2{
position:absolute;
width:100%;
height:660px;
background:transparent url(../images/bg_floor.png) left bottom repeat-x;
    @media screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (-moz-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
        background:transparent url(../images/bg_floor_hd.png) left bottom repeat-x;
        background-size: 68%;
    }
z-index:2;
    @include breakpoint (max-width $medium){
        height: $backgroundHeightMedium;
    }
    @include breakpoint (max-width $small){
        height: $backgroundHeightSmall;
        @media screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (-moz-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
            background:transparent url(../images/bg_floor_hd.png) left bottom repeat-x;
            background-size: 100%;
        }
    }
    @include breakpoint (max-width $smaller){
        height: $backgroundHeightSmaller;
        @media screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (-moz-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
            background:transparent url(../images/bg_floor_hd.png) left bottom repeat-x;
            background-size: 100%;
        }
    }
}
#header #title{
position:absolute;
top:32px;
width:100%;
z-index:1;
}
#header #title h1{
margin:0 auto 0 auto;
padding:0;
text-indent:-10000px;
width:480px;
height:232px;
background-image:url(../images/title.png);
    @include breakpoint (max-width $smaller){
        position: relative;
        top: 100px;
    }
    @include breakpoint (max-width $smallest){
        position: relative;
        top: 100px;
        width: 80%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }
    @media screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (-moz-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
        background-image: url('../images/title_hd.png');
        background-size: contain;
        background-repeat: no-repeat;
    }
}
#header #madeby{
position:relative;
z-index:10;
    padding-left: 20px;
}
#header #madeby p,#header #madeby a{
display:block;
margin:0;
padding:0;
width:118px;
height:128px;
}
#header #madeby p{
position:static;
top:0;
left:0;
}
#header #madeby a{
background-image:url(../images/herdingcats_logo.png);
outline:none;
text-indent:-10000px;
    @include breakpoint (max-width $smallest){
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top left;
    }
    @media screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (-moz-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
        background-image: url('../images/herdingcats_logo_hd.png');
        background-size: contain;
        background-repeat: no-repeat;
    }
}
#presskit{
position:absolute;
top:32px;
right:0;
z-index:12;
    width:151px;
    height:65px;
    margin:0;
    padding:0;
    @include breakpoint (max-width $small) {
        position: relative;
        margin: 0 auto;
        top: 280px;
    }
    @include breakpoint (max-width $smaller){
        top: 300px;
    }
}
#presskit a{
display:block;
width:151px;
height:65px;
background-image:url(../images/presskit_bt.png);
background-position: top;
text-indent:-10000px;
outline:none;
    @media screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (-moz-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
        background-image: url('../images/presskit_bt_hd.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
}
#presskit a:hover{
    background-position: bottom;
    @media screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (-moz-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
        background-image: url('../images/presskit_bt_hd.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
}
#tagline{
position:relative;
width:100%;
top:150px;
    @include breakpoint (max-width $small) {
        top: 125px;
    }
    @include breakpoint (max-width $smaller) {
        top: 180px;
    }
}
#tagline h2{
text-align:center;
font-size:24px;
color:#fff;
}
#stores{
position:relative;
width:54.5%;
    height: 57px;
top:170px;
    margin: 0 auto;
    display: block;
    padding-left: 35px;
    @include breakpoint (max-width $small) {
        top: 290px;
        width: 525px;
    }
    @include breakpoint (max-width $smallest) {
        width: 100%;
        padding-left: 0;
    }
}
#stores p{
margin:0;
padding:0;
}

#appstore,#googleplay{
position:relative;
float:left;
max-width:201px;
height:auto;
    @include breakpoint (max-width $smallest) {
        max-width: 100%;
        width: 100%;
        margin: 0 auto;
        p {
            text-align: center;
        }
    }
} 
#appstore{
margin-right:56px;
    p{
        .image {
            display: block;
            width: 201px;
            height: 57px;
            margin: 0 auto;
            margin-bottom: 15px;
            background-image: url('../images/appstore_purple_bt.png');
            @media screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (-moz-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
                background-image: url('../images/appstore_purple_bt_hd.png');
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
    }
}
#googleplay p{
    .image {
        display: block;
        width: 201px;
        height: 57px;
        margin: 0 auto;
        margin-bottom: 15px;
        background-image: url('../images/googleplay_purple_bt.png');
        @media screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (-moz-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
            background-image: url('../images/googleplay_purple_bt_hd.png');
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
}
#trailer{
position:absolute;
top:392px;
right:-46px;
    @include breakpoint (max-width $medium) {
        position: relative;
        width: 425px;
        margin: 0 auto;
        top: 275px;
    }
    @include breakpoint (max-width $small) {
        top: 350px;
    }
    @include breakpoint (max-width $smallest) {
        width: 90%;
        top: 450px;
        right: 0;
    }
}
#trailer p{
width:325px;
height:286px;
text-align: center;
background-image:url(../images/trailer.png);
    @include breakpoint (max-width $smallest) {
        width: 100%;
        margin: 0 auto;
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
    }
}
#trailer p a{
display:block;
position:relative;
top:80px;
margin: 0 auto;
width:176px;
height:176px;
background:url(../images/play.png) no-repeat;
background-position: top;
background-size: cover;
outline:none;
text-indent:-10000px;
    @media screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (-moz-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
        background-image: url('../images/play_hd.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
}
#trailer p a:hover{
    background:url(../images/play.png) no-repeat;
    background-position: bottom;
    background-size: cover;
    @media screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (-moz-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
        background-image: url('../images/play_hd.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
}

